<form {{action 'save' model on="submit"}}>

	<label for="bar-name">Name</label>
	{{input value=model.name  id="bar-name"}}

	<div>
	<button id="save-bar" type="submit" class="{{unless isDirty "invisible"}}">Save</button>
	<button id="delete-bar" {{action 'delete' model}} class="{{unless model.id "invisible"}}">Delete</button>
	</div>
</form>
